.navbar-brand{
    padding: 8px 0px;
    position: relative;
    top: 8px;
}


.basik{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;  
    color:#448BFF;
    padding: 0px 18px;
    font-weight: 600;
    position: relative;
    top: 2px;
    right: 10px;
    height: 88px;

}

#left-area{
    background-color: #edf2ef;
   
}


.navbar-nav{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#99A0AC;
    font-size: 12px;
    padding: 16px 16px 8px;
    position: relative;
    right: 20px;
}

.sub-head{
    padding-bottom: 8px;
}

.nav-item{
   line-height: 1.5rem;
}
.nav-item span{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #5E676F;
    margin: 0px 8px;
    padding: 11px 0px;
    width: 144px;
    height: 40px;
    line-height: 1.125rem;
    position: relative;
    top: 3px;
    padding-left: 10px;;
    
}

#application{
    padding-top: 8px;
}

#top{
    padding-top: 15px;
    width: 100%;
    padding-bottom: 15px;
}

#search{
    padding-left: 10px;;
}

#fullscreen{
    position: relative;
    left: 280px;
}

#settings{
    position: relative;
    left: 220px;
}

#notification{
    position: relative;
    left: 150px;
}

#account{
    position: relative;
    left: 80px;
}

.top-details{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: #192039;
    position: relative;
    top: 20px;
    left:110px;
}

.top-details-bottom{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    color: #99A0AC;
    position: relative;
    top: 25px;
    left: 110px;;
}

#buy-button{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    color: #99A0AC;
    position: relative;
    top: 40px;
    font-weight: 500;
    border-radius: 5px;
}


.name{
    font-weight: 500;
}

#user-components{
    border-radius: 5px;
    position: relative;
    top: 100px;
    left: 110px;
    width: 500px;
    padding: 20px;
}

.user-components-items{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    color: #99A0AC;

}

.user-components-items-bottom{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    margin: 8px 0px 0px;
    font-weight: 500;
}

.pro{
    color: #14BAE4;
    font-weight: 500;
}

#profile-details{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    color: #5E676F;
    position: relative;
    top: 120px;
    left: 120px;
    width: 250px;
    padding: 20px;
    border-radius: 5px;
    padding-bottom: 40px;
}

.number{
    color: #448BFF;
    font-weight: 500;
}
.progress{
    position: relative;
    top: 15px;
}

#profile-details{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    color: #5E676F;
    position: relative;
    top: 120px;
    left: 120px;
    width: 240px;
    padding: 20px;
    border-radius: 5px;
    padding-bottom: 40px;
}

#profile-details1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    color: #5E676F;
    position: relative;
    top: 120px;
    right: 645px;
    width: 245px;
    padding: 20px;
    border-radius: 5px;
    padding-bottom: 40px;
}

#chart{
    position: relative;
    top: 30px;
    height: 50px;
}

#chart-details{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #5E676F;
    position: relative;
    top: 110px;
    left: 120px;
    width: 240px;
    height: 120px;
    padding: 20px;
    border-radius: 5px;
    padding-bottom: 40px;
}

#chart-details1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #5E676F;
    position: relative;
    top: 110px;
    right: 645px;
    width: 245px;
    height: 120px;
    padding: 20px;
    border-radius: 5px;
    padding-bottom: 40px;
}

.chart-number{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    color: #99A0AC;
    padding-left: 140px;
}

#image1{
    position: relative;
    top: 5px;
    right: 5px;
}

#image2{
    position: relative;
    top: 5px;
    right: 5px;
    padding-top: 5px;
}

#image3{
    position: relative;
    top: 5px;
    right: 5px;
    padding-top: 5px;
}

#middle-area{
    padding: 20px;
    border-radius: 5px;
    position: relative;
    top: -135px; 
    width: 250px;
    left: 640px;
    height: 205px;;

}

.middle{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    text-align: center;
    padding-bottom: 5px ;
}

#middle-chart-details{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #5E676F;
    position: relative;
    top: 90px;
    left: -5px;
    width: 250px;
    height: 120px;
    padding: 20px;
    border-radius: 5px;
    padding-bottom: 40px;
}

#middle-left-bottom{
    padding: 20px;
    border-radius: 5px;
    height: 120px;
    position: relative;
    top: 25px;
    left: 120px;
}

#image5{
    padding: 20px;
    position: relative;
    top: -20px;
}

.left-bottom{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #5E676F;
    position: relative;
    top: -100px;
    left: 130px;
}

.left-bottom-number{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #31c971;
    position: relative;
    font-weight: 500;
    top: -120px;
    left: 130px;
}

.arrow{
    color: #5E676F;
    position: relative;
    top: -110px;
    left: 350px;
}

#middle-right{
    border-radius: 5px;
    width:630px;
    height: 118px;
    position: relative;
    top: 25px;
    left: -75px;
    padding: 20px;
    
}

#middle-right-one{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    color:#99A0AC;
}

.middle-right-details{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #5E676F;
    padding: 5px;;
}
 
.middle-right-items1{
    padding-left: 2px;
}

.middle-right-items2{
    position: relative;
    top: -31px;
    left: 120px;
    color: #F54394;
}

.middle-right-items3{
    position: relative;
    top: -60px;
    left: 250px;
}

.middle-right-details-bottom{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    color: #5E676F;
}

.middle-right-bottom-items1{
    position: relative;
    top: -60px;
    left: 5px;
    font-weight: 500;
}

.middle-right-bottom-items2{
    position: relative;
    top: -80px;
    left: 125px;
    font-weight: 500;
}

.middle-right-bottom-items3{
    position: relative;
    top: -98px;
    left: 255px;
    font-weight: 500;
}

#image6{
    width: 240px;
    position: relative;
    top: -175px;
    left: 360px;
}

#top-right{
    padding: 20px;
    border-radius: 5px;
    width: 280px;
    height: 340px;
    position: relative;
    top: -1077px;
    left: 1160px;
}

#image7{
    position: relative;
    top: 20px;
}

#image8{
    background-color: #edf2ef;
    padding-top: 550px;
}

#bottom-first{
    border-radius: 5px;
    width: 200px;
    position: relative;
    top: -910px;
    left: 370px;
}

#image9{
    padding: 20px;
    
}

#bottom-second{
    border-radius: 10px;
    width: 200px;
    position: relative;
    top: -910px;
    left: -700px;
}

#image10{
    padding: 20px;
    
}

#bottom{
    width: 430px;
    border-radius: 5px;
    position: relative;
    top: -890px;
    left: 370px;
}

#image12{
    padding: 20px;
    position: relative;
    top: 50px;
}

#right-bottom{
    border-radius: 5px;
    width: 630px;
    height: 550px;
    position: relative;
    top: -1443px;
    left: 815px;
}


